/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero {
    text-align: center;
    background-color: #333; /* Dark background for the header */
    color: white; /* White text for better contrast */
    padding: 40px 20px;
    width: 100%;
}

.name {
    font-size: 3rem;
    margin-bottom: 10px;
}

.position {
    font-size: 1.5rem;
    margin-top: 0;
}

.section {
    width: 100%; /* Full width */
    min-height: 100vh; /* Ensure sections take the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
